<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitalogies</title>
    <!-- bootstrap cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400&family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <!-- <div class="full_page"> -->
  <a href="#" id="scroll" style="display: none;"><span></span></a>
  <!-- header start -->
  <header class="header-main">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6">
                <div class="main_logo">
                  <a href="index.html"><img src="assets/images/logo.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 d-flex justify-content-end align-items-center">
                <a href="" class="btn btn-primary">Get In Touch</a>
                    <div class="navbar navbar-dark">
                      <div class="container d-flex justify-content-end p-0">
                        <a href="https://dineuron.com/bootstrap4-animated-mobile-menu" class="navbar-brand d-flex align-items-center">
                        </a>
                        <a class="nav-button d-flex justify-content-end"><span id="nav-icon3"><span></span><span></span><span></span><span></span></span></a>
                      </div>
                    </div> <!--navbar end-->
                
                    <div class="fixed-top dineuron-menu">
                      <div class="flex-center p-5">
                        <ul class="nav flex-column">
                          <li class="nav-item delay-1"><a class="nav-link" href="index.html">HOME</a></li>
                          <li class="nav-item delay-2"><a class="nav-link" href="About_Us.html">ABOUT US</a></li>
                          <li class="nav-item delay-7"><a class="nav-link" href="Career.html">CAREER</a></li>
                          <li class="nav-item delay-7"><a class="nav-link" href="Career_detail.html">CAREER DETAIL</a></li>
                          <li class="nav-item delay-8"><a class="nav-link" href="Contact_Us.html">CONTACT US</a></li>
                          <li class="nav-item delay-8"><a class="nav-link" href="Portfolio.html">PORTFOLIO</a></li>
                          <li class="nav-item delay-8"><a class="nav-link" href="Portfolio_detail.html">PORTFOLIO DETAIL</a></li>
                          <li class="nav-item delay-8"><a class="nav-link" href="Services.html">SERVICES</a></li>
                          <li class="nav-item delay-8"><a class="nav-link" href="Services_detail.html">SERVICES DETAIL</a></li>
                        </ul>
                      </div>
                    </div> <!--dineuron-menu end-->
            </div>
        </div>
    </div>
  </header>
  <!-- header start -->
  <!-- section hero -->
  <section class="inner_banner " data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="banner_content text-center">
              <h1>Services Detail</h1>
              <p>Home <span>//</span>Services Detail</p>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- section hero -->
  <!-- service detail section -->
  <section class="service_details" data-aos="fade-up" data-aos-delay="200" data-aos-duration="2000">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <img src="assets/images/service_detail_img.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300" data-aos-duration="2000">
          <div class="right_services">
            <h3>Services</h3>
            <ul class="all_services" data-aos="fade-up" data-aos-delay="300" data-aos-duration="2000">
              <li><a href=""><span>01</span> web development</a></li>
              <li><a href=""><span>02</span> web development</a></li>
              <li><a href=""><span>03</span> web development</a></li>
              <li><a href=""><span>04</span> web development</a></li>
              <li><a href=""><span>05</span> web development</a></li>
              <li><a href=""><span>06</span> web development</a></li>
              <li><a href=""><span>07</span> web development</a></li>
              <li><a href=""><span>07</span> web development</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-8" data-aos="fade-up" data-aos-delay="300" data-aos-duration="2000">
          <div class="left_content">
            <h3>Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.<br><br>aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci</p>
            <h3>Service Process</h3>
            <div class="services_process" data-aos="fade-up" data-aos-delay="400" data-aos-duration="2000">
              <div class="row">
                <div class="col-md-6">
                  <div class="process_box">
                    <div class="process-head">
                      <span>01</span>
                      <h4>Service Process</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ex</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="process_box">
                    <div class="process-head">
                      <span>02</span>
                      <h4>Service Process</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ex</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="process_box">
                    <div class="process-head">
                      <span>03</span>
                      <h4>Service Process</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ex</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="process_box">
                    <div class="process-head">
                      <span>04</span>
                      <h4>Service Process</h4>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud ex</p>
                  </div>
                </div>
              </div>
            </div>
            <h3>Services outcome</h3>
            <ul class="respons_ul mt-4">
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 mt-4" data-aos="fade-up" data-aos-delay="300" data-aos-duration="3000">
          <div class="right_services">
            <h3>Get A Quote</h3>
            <form action="" class="get_quote">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Your First Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email">
              </div>
              <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea3" rows="3" placeholder="Write Message"></textarea>
              </div>
              <div class="col-md-12 p-0">
                <button class="mybtn">Get Started<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="16px">
                  <image x="0px" y="0px" width="22px" height="16px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAQAAABuvaSwAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfmCwcQFhNizgzuAAABOUlEQVQoz5WSvU7CYBSGX0lASXQokwM0pCHGyZF7MKkjgzfA0o0BglfAUqeyeAPudnDoXdjJxCb8uPITN1geBtukf5Dwne2cJ1/Oe973AqWeoWc96kG32utXP/rUuzapOUldMWbDFBuTGtfcYzNlwwv1hEnQNiGvtFCumriEtNNwhyXDApjUkCWdBK7zxeAoKsSAkPo/PMY9iQrhMkaiwTazq0W/RH6LLQ3h4GX+sIiYFGDh4YgPntKwhEFAUIBtfPHNXRaWJAICrAzcYiH+uCnCEhMirNSkxq6iS+1U9t4k9XM9Flnf4m4sM7+Gj52H6bFmVCYwdzqJEWt65afLm9Ijwjpmyll2nxmksyKahN+leTr8lVjJTF2tFMqTLVNVVWXKlqdQK3U1K+ZKGDj4zNmzZ46Pg5GeHwDEaMx/y+4iSgAAAABJRU5ErkJggg=="></image>
                  </svg></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- service detail section -->
  <!-- footer section -->
  <footer class="section_100vh align-items-end">
    <div class="container">
      <div class="row first_row">
        <div class="col-md-6">
          <div class="footer_logo">
            <img src="assets/images/logo.png" alt="">
          </div>
          <hgroup class="hgroup" data-title="Contact Us">
            <h2 class="hgroup-title">Don't hesitate to contact us any time</h2>
          </hgroup>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-center">
          <p>We promise that we never have any commercial incentive while choosing a technology or approach, we base our</p>
          <form action="" class="footer_form">
            <input type="email" class="form-control" placeholder="Enter email address for subscription">
            <button class="mybtn">Submit <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="16px">
              <image x="0px" y="0px" width="22px" height="16px" xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAQAAABuvaSwAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfmCwcQFhNizgzuAAABOUlEQVQoz5WSvU7CYBSGX0lASXQokwM0pCHGyZF7MKkjgzfA0o0BglfAUqeyeAPudnDoXdjJxCb8uPITN1geBtukf5Dwne2cJ1/Oe973AqWeoWc96kG32utXP/rUuzapOUldMWbDFBuTGtfcYzNlwwv1hEnQNiGvtFCumriEtNNwhyXDApjUkCWdBK7zxeAoKsSAkPo/PMY9iQrhMkaiwTazq0W/RH6LLQ3h4GX+sIiYFGDh4YgPntKwhEFAUIBtfPHNXRaWJAICrAzcYiH+uCnCEhMirNSkxq6iS+1U9t4k9XM9Flnf4m4sM7+Gj52H6bFmVCYwdzqJEWt65afLm9Ijwjpmyll2nxmksyKahN+leTr8lVjJTF2tFMqTLVNVVWXKlqdQK3U1K+ZKGDj4zNmzZ46Pg5GeHwDEaMx/y+4iSgAAAABJRU5ErkJggg=="></image>
              </svg></button>
          </form>
        </div>
      </div>
      <div class="row services py-5">
        <div class="col">
          <div class="footer_menu">
            <h4>Company</h4>
              <ul class="footer_ul">
                <li><a href="">About Us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Our Projects</a></li>
                <li><a href="">Our Blog</a></li>
                <li><a href="">Contact</a></li>
              </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer_menu">
            <h4>Services</h4>
              <ul class="footer_ul">
                <li><a href="">UI / UX Design</a></li>
                <li><a href="">Web & App Development</a></li>
                <li><a href="">OA & Software Testing</a></li>
                <li><a href="">IT Consulting</a></li>
                <li><a href="">Product Design</a></li>
              </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer_menu middle">
              <ul class="footer_ul">
                <li><a href="">UI / UX Design</a></li>
                <li><a href="">Web & App Development</a></li>
                <li><a href="">OA & Software Testing</a></li>
              </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer_menu">
            <h4>Company</h4>
              <ul class="footer_ul">
                <li><a href="">About Us</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Team</a></li>
                <li><a href="">Our Projects</a></li>
                <li><a href="">Our Blog</a></li>
                <li><a href="">Contact</a></li>
              </ul>
          </div>
        </div>
        <div class="col">
          <div class="footer_social d-flex flex-column">
            <h4>Information</h4>
            <a href="mailto:info@digitalogies" class="footer_email">info@digitalogies</a>
            <a href="tel:+1800356789142" class="footer_phone">+1800 356 789 142</a>
            <div class="social_footer">
                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <p class="m-0 py-3 text-center">Copyright @ 2022 <span><a href="">Digitalogies,</a></span> All right reserved.</p>
      </div>
    </div>
  </footer>
  <!-- footer section -->
    
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="assets/js/site.js"></script>
</body>
</html>