.creative_things{
    padding: rem(150px) rem(0);
    position: relative;
    overflow: hidden;
    // &:before{
    //     content: "";
    //     background: url(../images/eclipse_combine.png) center no-repeat;
    //     background-size: contain;
    //     width: rem(180px);
    //     height: rem(130px);
    //     position: absolute;
    //     top: 0;
    //     animation: leftright 4s infinite linear;
    // }
    @keyframes leftright {
        0%{left:150px}
        25%{left:100px}
        50%{left:75px}
        75%{left:50px}
        100%{left:25px}
        0%{left:0px}
    }
    @keyframes rightleft {
        0%{right:150px}
        25%{right:100px}
        50%{right:75px}
        75%{right:50px}
        100%{right:25px}
        0%{right:0px}
    }
    // &:after{
    //     content: "";
    //     background: url(../images/eclipse_right.png) center no-repeat;
    //     background-size: contain;
    //     width: rem(150px);
    //     height: rem(150px);
    //     position: absolute;
    //     bottom: 0;
    //     animation: rightleft 4s infinite linear;

    // }

    &_content{
        @media (max-width:767px){
            margin-top: rem(50px);
        }
    }
    h3{
        background: url(../images/clip_path.png) center no-repeat;
        background-size:cover;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: rem(185px);
        font-weight: bold;
        // background-position: bottom;
        animation: mymove 15s infinite linear;
        text-align: center;
        line-height: 1.3;
    }
    @keyframes mymove {
        0%{
            background-position: top center;
            @include transition(all 0.5s ease-out);
        }
        20% {
            background-position: center center;
            @include transition(all 0.5s ease-out);
        }
        40%{
            background-position:bottom right;
            @include transition(all 0.5s ease-out);
        }
        60%{
            background-position: center center;
            @include transition(all 0.5s ease-out);
        }        
        100%{
            background-position: top center;
            @include transition(all 0.5s ease-out);
        }
      }
    .hgroup{
        &:before{
            font-size:rem(120px);
            z-index: -1;
            content: none;
        }
        h2{
            font-size:rem(100px);
        }
    }
    .wrapper{
        width:100%;
        padding-top: rem(20px);
        text-align:center;
    }
    .testimonial_slider{
        width:100%;
        margin:0px auto;
    }
    .area{
        background: #4e54c8;  
        background: linear-gradient(to left, #8f94fb, #4e54c8);  
        // width: 100%;
        // height:100vh;
    }
    .circles{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .circles li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        filter: brightness(0.5);
        background: linear-gradient(270deg, #2aca22, #12c288);
        animation: animate 25s linear infinite;
        bottom: -150px;
        z-index: -1;
    }
    .circles li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    .circles li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }
    .circles li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }
    .circles li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }
    .circles li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }
    .circles li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }
    .circles li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }
    .circles li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }
    .circles li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }
    .circles li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
    
    @keyframes animate {
        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }
        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }
    }
}