.portfolio{
    padding: rem(80px) 0;
    background:#0d0d0d;
    .nav-tabs{
        border: none;
        .nav-link {
            border-radius: rem(25px) !important;
            font-size: rem(18px);
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            padding: rem(15px) rem(30px);
            border: none;
            font-family: var(--main-heading-font);
            &.active{
                color: #fff;
                background-color: unset !important;
                background:linear-gradient(270deg, #2aca22, #12c288);
                transition:all 350ms linear;
            }
        }
    }
    .tab-pane{
        .row{
            .col-md-4{
                padding: rem(10px);
                img{
                    width: 100%;
                    object-fit: cover;
                    object-position: left;
                    border-radius: 15px;
                    height: 340px;
                }
            }
        }
    }

}