// 1024 media screen
@media screen and (max-width:1024px){
    .section-hero .row{
        margin-top: 2%;
    }
    .section-hero .h2{
        font-size: 3.5rem;
    }
    .offering .offer_content{
        padding-left: 0;
    }
    .offering .offer_slider .slick-next{
        left: -180px !important;
        top: 80% !important;
    }
    .offering .offer_slider .slick-prev{
        left: -240px !important;
        top: 80% !important;
    }
    .hgroup-title{
        font-size: 2.5rem;
    }
    .offering .offer_content hgroup::before{
        font-size: 3.375rem;
    }
    .team_member .member_box img{
        height: 320px;
    }
    .creative_things h3{
        font-size: 125px;
    }
    .testimonials .row.counter_row span{
        font-size: 14px;
    }
    .testimonials .slick-prev{
        top: 85% !important;
    }
    .testimonials .slick-next{
        top: 85% !important;
    }
    .testimonials .testmnl_left h3{
        margin-top: 0.875rem;
    }
    .section-hero .hgroup::before{
        left: 0;
        font-size: 12rem;
    }
    .inner_slider button{
        display: none !important;
    }
    .tab-pane .row {
        margin: 0;
    }
}
@media screen and (max-width:768px){
    header .col-lg-3, header .col-lg-9 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .servicess .col-md-3 {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .portfolio_details .info li{
        font-size: 10px !important;
    }
    .team_member .member_box img{
        height: 465px;
    }
    footer .footer_form .mybtn{
        padding: 14px 20px;
    }
    .testimonials .row.counter_row .col-md-3 {
        max-width: 25% !important;
        flex: 0 0 25% !important;
    }
    footer .footer_menu ul a{
        font-size: 12x;
    }
    .team_member .member_box .social_icons a{
        width: 60px;
        height: 60px;
    }
    .team_member .member_box .social_icons a i{
        font-size: 20px;
    }
    .section-hero .h1{
        font-size: 4.25rem;
    }
    .need_seo{
        padding: 2.5rem 0;
    }

    .need_seo .row .col-md-8 {
        padding-left: 15px;
    }
    .need_seo .side_image img {width: 100%;display: block;margin: 0 auto;margin-bottom: 5rem; max-width:400px;}
    .offering .offer_slider .slick-next{
        left: -22% !important;
        top: 65% !important;
    }
    .offering .offer_slider .slick-prev{
        left: -30% !important;
        top: 65% !important;
    }
    .offering .offer_slider .col-md-3.offers .offers_content{
        width: 98%;
    }
    .offering{
        padding: 1.5rem 0;
    }
    .creative_projects{
        padding: 5.5rem 0;
    }
    .creative_things h3{
        text-align: center;
    }
    .creative_things{
        padding: 4.5rem 0;
    }
    .testimonials .testmnl_right img:nth-child(1){
        width: 100%;
        object-fit: cover;
    }
    .testimonials .slick-next{
        left: 8% !important;
    }
    .testimonials .slick-prev{
        left:2% !important;
    }
    .testimonials .hgroup{
        max-width: 100%;
    }
    .team_member{
        padding: 4.5rem 0rem;
    }
    footer .hgroup h2{
        font-size: 2rem;
    }
    footer .hgroup::before{
        font-size: 3rem;
        top:-1.5rem;
    }
    .job_section .col-md-4 .career_box .career_head .career_tile h4{
        font-size: 14px;
    }
    .portfolio .nav-tabs .nav-link{
        font-size: 14px !important;
        border-radius: 30px !important;
    }
    .creative_things .hgroup:before{
        display:none;
    }
}
@media screen and (max-width:430px){
    .hgroup::before{
        display: none;
    }
    .col-md-3.col-6.p-0.d-flex.flex-column {
        max-width: 100%;
    }
    .section-hero .img_box.seo_slide img{
        object-fit: contain;
    }
    .section-hero .img_box img{
        width: 100%;
    }
    .servicess .col-md-3 {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .right_services{
        margin-top: 5%;
    }
    .process_box .process-head h4{
        font-size: 16px !important;
    }
    .service_details .left_content h3{
        font-size: 3rem !important;
    }
    .left_content .respons_ul li{
        font-size: 13px !important;
        line-height: 1.6 !important;
    }
    form.contact_forrm {
        margin-top: 10%;
    }
    .team_member .member_box img{
        height: 500px;
    }
    .need_seo{
        padding: 60px 0;
    }
    .testimonials .row.counter_row .col-md-3{
        max-width: 100% !important;
        flex: 0 0 100% !important;
        align-items: center !important;
        padding:30px 0 !important;
    }
    .seo_box {
        margin-bottom: 40px;
    }
    .seo_content p {
        margin-bottom: 20px;
    }
    header .col-lg-3, header .col-lg-9{
        max-width: 50%;
        flex: 1;
    }
    .section-hero .row{
        margin-top: 12rem;
    }
    .section-hero .h1{
        font-size: 6rem;
    }
    .section-hero .h3{
        font-size: 22px;
    }
    .header-main .main_logo img{
        width: 20rem;
        height: auto;
    }
    .section-hero .h2{
        font-size: 4rem;
    }
    body p{
        font-size: 16px !important;
    }
    .section-hero .img_box{
        margin-top: 8%;
    }
    .section_100vh{
        scroll-snap-align: unset;
    }
    .creative_things h3{
        font-size: 80px;
    }
    .need_seo .row .col-md-8 .row .seo_box h3{
        font-size: 24px;
    }
    .offering .offer_slider .col-md-3.offers .offers_content h3{
        font-size: 20px;
    }
    .offering .offer_slider .col-md-3.offers{
        padding: 0 15px;
    }
    .offering .offer_slider .col-md-3.offers .offers_content{
        width: 93%;
    }
    .creative_projects .gallery{
        padding: 15px;
    }
    .testimonials .testmnl_right{
        width: 100%;
    }
    .testimonials .testmnl_left{
        width: 100%;
        margin-top: 5%;
    }
    .testimonial.col-md-12.d-flex.slick-slide {
        flex-wrap: wrap;
    }
    .testimonials button{
        display: none !important;
    }
    .testimonials .row.counter_row .count{
        font-size: 80px;
    }
    .testimonials .row.counter_row .col-md-3 span{
        font-size: 18px;
    }
    .testimonials .testmnl_left h3{
        font-size: 20px;
    }
    .testimonials .testmnl_left span{
        font-size: 14px;
    }
    .header-main{
        background: #090909;
        .nav-button{
            width: unset;
        }
        .btn.btn-primary{
            display: none;
        }
    }
    footer .services .col {
        max-width: 50%;
        flex: 0 0 50%;
    }

    footer .services .col:nth-child(5) {
        max-width: 100%;
        flex: 0 0 100%;
    }
    footer .footer_menu ul a{
        font-size: 14px;
    }
    footer .footer_menu h4{
        font-size: 18px;
    }
    footer .footer_social h4{
        font-size: 18px;
    }
    footer .hgroup h2{
        font-size: 30px;
    }
    footer .footer_form .form-control{
        padding: 20px;
    }
    footer .footer_form .mybtn{
        font-size: 13px;
        border-radius: 30px;
    }
    .testimonials .testmnl_right img:nth-child(1){
        margin-top: 10%;
    }
    .creative_things .container{
        padding: 45px 0;
    }
    footer p{
        padding: 10px 0;
    }
    .responsive_btn {
        width: fit-content;
        display: block !important;
        margin: 0 auto;
    }
    .creative_projects .gallery img{
        border-radius: 10px;
    }
    .team_member .member_box span{
        font-size: 14px;
    }
    .section-hero a{
        margin-top: 5rem;
    }
}

